In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn

In [4]:
manu = pd.read_csv("test.csv")

In [7]:
manu.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [13]:
x=manu['Sex']
y=manu['SibSp']

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y ,test_size=1/3,random_state=1  )

In [26]:
from sklearn.classiffier import RandomForest
mackk = LinearcRegression()
mackk.fit(x_train,y_train)

ModuleNotFoundError: No module named 'sklearn.classiffier'